WcfClient/WcfClient/Connected Services/ServiceReference1/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HelloService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmployeeRequest">
    <wsdl:part name="parameters" element="tns:EmployeeRequest" />
  </wsdl:message>
  <wsdl:message name="EmployeeRequest_Headers">
    <wsdl:part name="Id" element="tns:Id" />
    <wsdl:part name="TypeId" element="tns:TypeId" />
  </wsdl:message>
  <wsdl:message name="Employee">
    <wsdl:part name="parameters" element="tns:Employee" />
  </wsdl:message>
  <wsdl:message name="Employee_Headers">
    <wsdl:part name="Id" element="tns:Id" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_SaveEmployee_OutputMessage" />
  <wsdl:message name="IEmployeeService_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="GetEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployee" name="EmployeeRequest" message="tns:EmployeeRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeResponse" name="Employee" message="tns:Employee" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeType">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeType" name="EmployeeRequest" message="tns:EmployeeRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeeTypeResponse" name="Employee" message="tns:Employee" />
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployee" name="Employee" message="tns:Employee" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/SaveEmployeeResponse" message="tns:IEmployeeService_SaveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetAllEmployees" message="tns:IEmployeeService_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetAllEmployeesResponse" message="tns:IEmployeeService_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployee" style="document" />
      <wsdl:input name="EmployeeRequest">
        <soap:header message="tns:EmployeeRequest_Headers" part="Id" use="literal" />
        <soap:header message="tns:EmployeeRequest_Headers" part="TypeId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Employee">
        <soap:header message="tns:Employee_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeType">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployeeType" style="document" />
      <wsdl:input name="EmployeeRequest">
        <soap:header message="tns:EmployeeRequest_Headers" part="Id" use="literal" />
        <soap:header message="tns:EmployeeRequest_Headers" part="TypeId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Employee">
        <soap:header message="tns:Employee_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/SaveEmployee" style="document" />
      <wsdl:input name="Employee">
        <soap:header message="tns:Employee_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:8080/EmployeeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>